<!DOCTYPE html>
{% load i18n static widget_tweaks %}
<html lang="ja" >
  <head>
    <link rel="icon" href="{% static "common/img/favicon.ico" %}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>Imagediff | Reset</title>
    <script src="{% static 'jquery/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static "admin/js/nav_sidebar.js" defer %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "common/css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "common/css/login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}">
  </head>
  <body class="login" data-admin-utc-offset="{% now "Z" %}">

    <!-- Container -->
    <div id="container">

      <!-- Header -->
      {% comment %} <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/imagediff/top/">Imagediff</a></h1>
        </div>
      </div> {% endcomment %}
      <!-- END Header -->
      <img src="{% static "common/img/logo_imagediff_black.gif" %}" class="img-fluid" alt="Responsive image">

      <div class="main shifted" id="main">
        <div class="content">
        
          <!-- Content -->
          <div id="content" class="colM">
            <div id="content-main">
              <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                
                <h2 class="display-6">パスワードリセット</h2>

                <hr>

                <p>パスワードリセット手続きのためメールを送信しました。メールを確認の上、リセット手続きを行って下さい。</p>

                <div class="submit-row">
                  <td><a href="../../accounts/login/?next=/imagediff/top/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><i class="fas fa-sign-in-alt fas-fw"></i> ログイン画面</a></td>
                </div>
              </form>
            </div>
            <br class="clear">
          </div>
          
          <!-- END Content -->
          <div id="footer"></div>
        </div>
      </div>
    </div>
    <!-- END Container -->
  </body>
</html>
