<!DOCTYPE html>
{% load i18n static widget_tweaks %}
<html lang="ja" >
  <head>
    <link rel="icon" href="{% static "common/img/favicon.ico" %}">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="NONE,NOARCHIVE">
    <title>Imagediff | Reset</title>
    <script src="{% static 'jquery/js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static "admin/js/nav_sidebar.js" defer %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "common/css/reset.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "common/css/login.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/base.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}">
  </head>
  <body class="login" data-admin-utc-offset="{% now "Z" %}">

    <!-- Container -->
    <div id="container">

      <!-- Header -->
      {% comment %} <div id="header">
        <div id="branding">
          <h1 id="site-name"><a href="/imagediff/top/">Imagediff</a></h1>
        </div>
      </div> {% endcomment %}
      <!-- END Header -->
      <img src="{% static "common/img/logo_imagediff_black.gif" %}" class="img-fluid" alt="Responsive image">

      <div class="main shifted" id="main">
        <div class="content">
        
          <!-- Content -->
          <div id="content" class="colM">
            <div id="content-main">
              <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                
                <h2 class="display-6">パスワードリセット</h2>

                <hr>

                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-key"></i></span>
                        </div>
                        {% render_field form.new_password1 class="form-control" placeholder="新しいパスワード" aria-label="password" aria-describedby="inputGroup-sizing-lg" %}
                    </div>
                    {% if form.new_password1.errors %}
                    <ul class="messagelist">
                        {% for error in form.new_password1.errors %}
                        <li class="error">{{ error|capfirst }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-key"></i></span>
                        </div>
                        {% render_field form.new_password2 class="form-control" placeholder="新しいパスワード（確認用）" aria-label="password" aria-describedby="inputGroup-sizing-lg" %}
                    </div>
                    {% if form.new_password2.errors %}
                    <ul class="messagelist">
                        {% for error in form.new_password2.errors %}
                        <li class="error">{{ error|capfirst }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                
                <div class="submit-row">
                  <button type="submit" class="btn btn-secondary btn-lg"><i class="fas fa-user-edit fas-fw"></i> 変更</button>
                </div>
              </form>
            </div>
            <br class="clear">
          </div>
          
          <!-- END Content -->
          <div id="footer"></div>
        </div>
      </div>
    </div>
    <!-- END Container -->
  </body>
</html>
