{% extends 'accounts/base.html' %}
{% load i18n static %}

{% block additional_meta %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
{% endblock additional_meta %}

{% block title_name %}プライバシーポリシー{% endblock title_name %}

{% block additional_script %}
{% endblock additional_script %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <div class="form-inner">
        <h2 class="display-5">プライバシーポリシー</h2>

        <hr>

        <div class="text-right pb-4">作成日：2020年12月9日</div>
        <div class="pb-4">
            <h5 class="pb-2">第１条　個人情報</h5>
            <div>「個人情報」とは，個人情報保護法にいう「個人情報」を指すものとし，生存する個人に関する情報であって，当該情報に含まれる氏名，生年月日，住所，電話番号，連絡先その他の記述等により特定の個人を識別できる情報及び容貌，指紋，声紋にかかるデータ，及び健康保険証の保険者番号などの当該情報単体から特定の個人を識別できる情報（個人識別情報）を指します。</div>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第２条　プライバシーポリシーの適用</h5>
            <div>本プライバシーポリシーは，SigmaWind（以下，「当方」といいます。）が管理・運営するWebサービス（以下，「本サービス」といいます。）を通じて提供いただく，お客様の個人情報（E-mailアドレス・クレジット番号など）に適用されます。</div>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第３条　個人情報を収集・利用する目的</h5>
            <div class="pb-2">当方が個人情報を収集・利用する目的は，以下のとおりです。</div>
            <ol class="pl-4 mb-0">
                <li class="pb-2">当方サービスの提供・運営のため</li>
                <li class="pb-2">ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
                <li class="pb-2">ユーザーが利用中のサービスの新機能，更新情報，キャンペーン等及び当方が提供する他のサービスの案内のメールを送付するため</li>
                <li class="pb-2">メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
                <li class="pb-2">利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
                <li class="pb-2">ユーザーにご自身の登録情報の閲覧や変更，削除，ご利用状況の閲覧を行っていただくため</li>
                <li>上記の利用目的に付随する目的</li>
            </ol>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第４条　SSLの利用</h5>
            <div>本サービスは，お客様の個人情報を保護するために「SSL」に対応しています。SSLとは「Secure Socket Layer」の略で、SSLはWebサーバーとWebブラウザとの間に暗号化し送受信できる通信方法です。セキュリティ機能に対応したブラウザを使用することで、お客様が入力されるE-mailアドレスなどの個人情報が自動的に暗号化されて送受信されるため，万が一，送受信データが第三者に傍受された場合でも，内容が盗み取られる心配はありません。</div>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第５条　Cookieの利用</h5>
            <div>本サービスには，「クッキー（Cookie）」と呼ばれる技術を利用したページがあります。クッキーとは，Webサーバーからお客様のWebブラウザに送信される小さなデータのことで，お客様のパソコンのハードディスクにファイルとして格納されるものもあります。Webサーバーは，このクッキーを参照することにより，お客様のパソコンを識別する事ができます。これによりお客様は効率的に本サービスを利用する事ができます。本サービスがクッキーとして送るファイルには個人を特定するような情報は含んでいません。なお，お使いのWebブラウザの設定により，クッキーの機能を無効にすることができますが，その場合，本サービスの一部がスムーズにご利用いただけなくなることがあります。</div>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第６条　利用目的の変更</h5>
            <ol class="pl-4 mb-0">
                <li class="pb-2">当方は，利用目的が変更前と関連性を有すると合理的に認められる場合に限り，個人情報の利用目的を変更するものとします。</li>
                <li>利用目的の変更を行った場合には，変更後の目的について，当方所定の方法により，ユーザーに通知し，または本サービス上に公表するものとします。</li>
            </ol>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第７条　個人情報の第三者提供</h5>
            <div class="pb-2">当方は，次に掲げる場合を除いて，第三者に個人情報を提供することはありません。</div>
            <ol class="pl-4 mb-0">
                <li class="pb-2">お客様の同意がある場合</li>
                <li class="pb-2">ユーザーが希望するサービスを行うために当方が業務を委託する業者に対して開示する場合</li>
                <li>法令に基づき開示することが必要である場合</li>
            </ol>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第８条　個人情報の開示</h5>
            <ol class="pl-4 mb-0">
                <li class="pb-2">当方は，本人から個人情報の開示を求められたときは，本人に対し，遅滞なくこれを開示します。ただし，開示することにより次のいずれかに該当する場合は，その全部または一部を開示しないこともあり，開示しない決定をした場合には，その旨を遅滞なく通知します。</li>
                <ol class="pl-4 mb-0">
                    <li class="pb-2">本人または第三者の生命，身体，財産その他の権利利益を害するおそれがある場合</li>
                    <li class="pb-2">当方の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
                    <li>その他法令に違反することとなる場合</li>
                </ol>
                <li>前項の定めにかかわらず，履歴情報および特性情報などの個人情報以外の情報については，原則として開示いたしません。</li>
            </ol>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第９条　個人情報の訂正および削除</h5>
            <ol class="pl-4 mb-0">
                <li class="pb-2">ユーザーは，当方の保有する自己の個人情報が誤った情報である場合には，当方が定める手続きにより，当方に対して個人情報の訂正，追加または削除（以下，「訂正等」といいます。）を請求することができます。</li>
                <li class="pb-2">当方は，ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の訂正等を行うものとします。</li>
                <li>当方は，前項の規定に基づき訂正等を行った場合，または訂正等を行わない旨の決定をしたときは遅滞なく，これをユーザーに通知します。</li>
            </ol>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第１０条　個人情報の利用停止等</h5>
            <ol class="pl-4 mb-0">
                <li class="pb-2">当方は，本人から，個人情報が，利用目的の範囲を超えて取り扱われているという理由，または不正の手段により取得されたものであるという理由により，その利用の停止または消去（以下，「利用停止等」といいます。）を求められた場合には，遅滞なく必要な調査を行います。</li>
                <li class="pb-2">前項の調査結果に基づき，その請求に応じる必要があると判断した場合には，遅滞なく，当該個人情報の利用停止等を行います。</li>
                <li class="pb-2">当方は，前項の規定に基づき利用停止等を行った場合，または利用停止等を行わない旨の決定をしたときは，遅滞なく，これをユーザーに通知します。</li>
                <li>前2項にかかわらず，利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって，ユーザーの権利利益を保護するために必要なこれに代わるべき措置をとれる場合は，この代替策を講じるものとします。</li>
            </ol>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第１１条　法令の遵守</h5>
            <div>お客様より提供を受けた個人情報の取り扱いに際し，当方は個人情報の保護について適用される個人情報保護関連法令・規範を遵守いたします。</div>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第１２条　プライバシーポリシーの変更</h5>
            <ol class="pl-4 mb-0">
                <li class="pb-2">本ポリシーの内容は，法令その他本ポリシーに別段の定めのある事項を除いて，ユーザーに通知することなく，変更することができるものとします。</li>
                <li>当方が別途定める場合を除いて，変更後のプライバシーポリシーは，本サービスに掲載したときから効力を生じるものとします。</li>
            </ol>
        </div>
        <div class="pb-4">
            <h5 class="pb-2">第１３条　お問い合わせ窓口</h5>
            <div>本ポリシーに関するお問い合わせは，下記の窓口までお願いいたします。</div>
            <div>info.sigmawind.1401@gmail.com</div>
        </div>
        <div class="text-right pb-4">以上</div>
    </div>
</form>
{% endblock content %}